/* h1{
    color: darkgoldenrod;
    text-align: center;
}
button{
    background-color: black;
    color: white;
}
p{
     font-family: Arial, Helvetica, sans-serif
} */

.box{
    height: 100px;
    width:  100px;
    border: 3px solid black;
    margin: 5px;
     background-color: darkorchid;


}