/* *{
    margin: 0;
    padding: 0;
}
.container{
    height: 70vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0,0, 0.5);
    font-size: 8vmin;
    background-color: rgb(240, 171, 92);
    color: black;
}
body{
    background-color: cadetblue;
    text-align: center;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    background-color: #191919;
    color: #fff;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    background-color: #191919;
    color: #fff;

}
.msg-container{
    height:30vmin ;
}
#msg{
    color: #ffffc7;
    font-size: 5vmin;
}
.hide{
    display: none;
} */





*{
    margin: 0;
    padding: 0;
    background-color: rgb(119, 118, 118);
}

h1{
    background-color: #081b31;
    color: #fff;
   line-height: 5rem;
    height: 5rem;
    text-align: center;


}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;


}

.score-board{
    display: flex;
     justify-content: center;
    align-items: center; 
     margin-top: 5rem;
    font-size: 2rem;
    gap: 5rem; 
}

#user-score, #comp-score{
     font-size: 4rem; 
}
.msg-container{
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#msg{
    background-color: #081b31;
    color: #fff;
     font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
} 